<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Загрузка CSV-файла</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    >
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>Big Data Analyzer</header>

    <div class="container my-5">
        <h1 class="text-center mb-4">Выберите CSV-файл</h1>

        <form action="/preview" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <input
                  type="file"
                  class="form-control"
                  name="file"
                  accept=".csv"
                  required
                >
            </div>
            <button type="submit" class="btn btn-primary w-100">Загрузить</button>
        </form>
    </div>
</body>
</html>
